In [1]:
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [2]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [3]:
PATH = "data"

In [4]:
!pwd

/home/coolck/Development/Akka/Machine-Learning-Python-master/Projects

In [5]:
!ls

data	  new.ipynb  weather2.csv	 weatherfull.csv
new2.csv  tmp	     weather_data.ipynb

In [6]:
df  = pd.read_csv(f'{PATH}/data.csv', low_memory=False, parse_dates=['TIMESTAMP'])

In [7]:
df.head()

,Devicename,id,TIMESTAMP,Battery_Voltage,Datalogger_Temperature,Plane_of_Array_Irradiance_Tripod_Watt/m2,Plane_of_Array_Irradiance_Tripod_Watt_Hour,Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated,Plane_of_Array_Irradiance_Module_Watt/m2,Plane_of_Array_Irradiance_Module_Watt_Hour,...,Barometric_Pressure,1st_Solar_Reference_cell_Radiatio_Watt/m2,1st_Solar_Reference_cell_Temperature_Deg_C,2nd_Solar_Reference_cell_Radiation_Watt/m2,2nd_Solar_Reference_cell_Temperature_Deg_C,3rd_Solar_Reference_cell_Radiation_Watt/m2,3rd_Solar_Reference_cell_Temperature_Deg_C,4th_Solar_Reference_cell_Radiation_Watt/m2,4th_Solar_Reference_cell_Temperature_Deg_C,Grid_Status
0,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Weather_Station,2985.0,2017-05-01 00:00:00,12.624,26.397,0.531,0.0,543.968,0.0,0.0,...,1003.57,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,Weather_Station,2986.0,2017-05-01 00:15:00,12.614,26.345,0.503,0.0,0.006,0.0,0.0,...,1003.44,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,Weather_Station,2987.0,2017-05-01 00:30:00,12.605,26.280,0.040,0.0,0.013,0.0,0.0,...,1003.20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,Weather_Station,2988.0,2017-05-01 00:45:00,12.598,26.160,0.000,0.0,0.013,0.0,0.0,...,1002.99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [8]:
def display_all(df):
    with pd.option_context("display.max_rows", 1000): 
        with pd.option_context("display.max_columns", 1000): 
            display(df)

In [9]:
display_all(df.head().transpose())

,0,1,2,3,4
Devicename,NaN,Weather_Station,Weather_Station,Weather_Station,Weather_Station
id,NaN,2985,2986,2987,2988
TIMESTAMP,NaT,2017-05-01 00:00:00,2017-05-01 00:15:00,2017-05-01 00:30:00,2017-05-01 00:45:00
Battery_Voltage,NaN,12.624,12.614,12.605,12.598
Datalogger_Temperature,NaN,26.397,26.345,26.28,26.16
Plane_of_Array_Irradiance_Tripod_Watt/m2,NaN,0.531,0.503,0.04,0
Plane_of_Array_Irradiance_Tripod_Watt_Hour,NaN,0,0,0,0
Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated,NaN,543.968,0.006,0.013,0.013
Plane_of_Array_Irradiance_Module_Watt/m2,NaN,0,0,0,0
Plane_of_Array_Irradiance_Module_Watt_Hour,NaN,0,0,0,0
Plane_of_Array_Irradiance_Module_Watt_Hour_Accumulated,NaN,543.968,0.006,0.013,0.013
Global_Horizontal_Irradiance_Tripod_Watt/m2,NaN,0.468,0.364,0,0
Global_Horizontal_Irradiance_Tripod_Watt_Hour,NaN,0,0,0,0
Global_Horizontal_Irradiance_Tripod_Watt_Hour_Accumulated,NaN,558.069,0.003,0.009,0.009
Ambient_Temperature_Deg_C,NaN,25.933,25.837,25.674,25.639
Relative_Humidity_Percentage,NaN,92.27,92.515,93.883,94.657
Wind_Speed_meter_per_second,NaN,0.696,0.174,0.136,0
Wind_Direction_Degree,NaN,237.55,238.965,251.127,281.287
Module_Temperature_Deg,NaN,24.762,24.563,24.335,24.067
Rainfall_mm,NaN,0,0,0,0
Accumulated_Rainfall_mm,NaN,7.738,0,0,0
Barometric_Pressure,NaN,1003.57,1003.44,1003.2,1002.99
1st_Solar_Reference_cell_Radiatio_Watt/m2,NaN,0,0,0,0
1st_Solar_Reference_cell_Temperature_Deg_C,NaN,0,0,0,0
2nd_Solar_Reference_cell_Radiation_Watt/m2,NaN,0,0,0,0
2nd_Solar_Reference_cell_Temperature_Deg_C,NaN,0,0,0,0
3rd_Solar_Reference_cell_Radiation_Watt/m2,NaN,0,0,0,0
3rd_Solar_Reference_cell_Temperature_Deg_C,NaN,0,0,0,0
4th_Solar_Reference_cell_Radiation_Watt/m2,NaN,0,0,0,0
4th_Solar_Reference_cell_Temperature_Deg_C,NaN,0,0,0,0
Grid_Status,NaN,NaN,NaN,NaN,NaN

In [10]:
cols = ['TIMESTAMP',
        'Global_Horizontal_Irradiance_Tripod_Watt/m2',
        'Ambient_Temperature_Deg_C'
       ]

In [11]:
df2 = df[cols]
df2.head()

,TIMESTAMP,Global_Horizontal_Irradiance_Tripod_Watt/m2,Ambient_Temperature_Deg_C
0,NaT,NaN,NaN
1,2017-05-01 00:00:00,0.468,25.933
2,2017-05-01 00:15:00,0.364,25.837
3,2017-05-01 00:30:00,0.000,25.674
4,2017-05-01 00:45:00,0.000,25.639

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42133 entries, 0 to 42132
Data columns (total 3 columns):
TIMESTAMP                                      42132 non-null datetime64[ns]
Global_Horizontal_Irradiance_Tripod_Watt/m2    42131 non-null float64
Ambient_Temperature_Deg_C                      42132 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 987.6 KB

In [13]:
import seaborn as sns

In [14]:
file_name = 'new2.csv'
df.to_csv(file_name, sep='\t')

In [25]:
#print(train[train.isnull().any(axis=1)][null_columns].head())

In [15]:
pd.isnull(df2).any(1).nonzero()[0]

array([   0, 3521])

In [16]:
#df2.drop(df2.index[0])

In [17]:
df2.head()

,TIMESTAMP,Global_Horizontal_Irradiance_Tripod_Watt/m2,Ambient_Temperature_Deg_C
0,NaT,NaN,NaN
1,2017-05-01 00:00:00,0.468,25.933
2,2017-05-01 00:15:00,0.364,25.837
3,2017-05-01 00:30:00,0.000,25.674
4,2017-05-01 00:45:00,0.000,25.639

In [18]:
df2.iloc[3521]

TIMESTAMP                                      2017-06-08 10:45:00
Global_Horizontal_Irradiance_Tripod_Watt/m2                    NaN
Ambient_Temperature_Deg_C                                        0
Name: 3521, dtype: object

<h3>Handling missing values</h3>

<p><strong>TIMESTAMP  2017-06-08 10:45:01 has missing values</strong><p>
<p>Fill this value with next time interval values</p>

In [25]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19146 entries, 0 to 19145
Data columns (total 21 columns):
Plane_of_Array_Irradiance_Tripod_Watt_Hour_Accumulated    19143 non-null float64
Ambient_Temperature_Deg_C                                 19146 non-null float64
Relative_Humidity_Percentage                              19143 non-null float64
Rainfall_mm                                               19145 non-null float64
Barometric_Pressure                                       19143 non-null float64
Plane_of_Array_Irradiance_Tripod_Watt/m2                  19145 non-null float64
HOUR                                                      19146 non-null int64
MINUTE                                                    19146 non-null int64
TIMESTAMPYear                                             19146 non-null int64
TIMESTAMPMonth                                            19146 non-null int64
TIMESTAMPWeek                                             19146 non-null int64
TIMESTAMPDay                                              19146 non-null int64
TIMESTAMPDayofweek                                        19146 non-null int64
TIMESTAMPDayofyear                                        19146 non-null int64
TIMESTAMPIs_month_end                                     19146 non-null bool
TIMESTAMPIs_month_start                                   19146 non-null bool
TIMESTAMPIs_quarter_end                                   19146 non-null bool
TIMESTAMPIs_quarter_start                                 19146 non-null bool
TIMESTAMPIs_year_end                                      19146 non-null bool
TIMESTAMPIs_year_start                                    19146 non-null bool
TIMESTAMPElapsed                                          19146 non-null int64
dtypes: bool(6), float64(6), int64(9)
memory usage: 2.3 MB

In [22]:
df2.iloc[3520]

TIMESTAMP                                      2017-06-08 10:30:00
Global_Horizontal_Irradiance_Tripod_Watt/m2                      0
Ambient_Temperature_Deg_C                                        0
Name: 3520, dtype: object

In [23]:
df2.iloc[3522]

TIMESTAMP                                      2017-06-08 15:42:00
Global_Horizontal_Irradiance_Tripod_Watt/m2                      0
Ambient_Temperature_Deg_C                                        0
Name: 3522, dtype: object

<h3>Fill missing values : raw 3521</h3>

In [32]:
df2.loc[3521,'Global_Horizontal_Irradiance_Tripod_Watt/m2'] = 0

/home/coolck/anaconda3/envs/fastai/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [33]:
df2.iloc[3521]

TIMESTAMP                                      2017-06-08 10:45:00
Global_Horizontal_Irradiance_Tripod_Watt/m2                      0
Ambient_Temperature_Deg_C                                        0
Name: 3521, dtype: object

In [34]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42133 entries, 0 to 42132
Data columns (total 3 columns):
TIMESTAMP                                      42132 non-null datetime64[ns]
Global_Horizontal_Irradiance_Tripod_Watt/m2    42132 non-null float64
Ambient_Temperature_Deg_C                      42132 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 987.6 KB

In [37]:
df2['HOUR'] = df2['TIMESTAMP'].dt.hour
df2['MINUTE'] = df2['TIMESTAMP'].dt.minute

/home/coolck/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/coolck/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [39]:
df2.tail()

,TIMESTAMP,Global_Horizontal_Irradiance_Tripod_Watt/m2,Ambient_Temperature_Deg_C,HOUR,MINUTE
42128,2018-07-29 22:45:00,0.0,26.2855,22.0,45.0
42129,2018-07-29 23:00:00,0.0,26.2281,23.0,0.0
42130,2018-07-29 23:15:00,0.0,26.1502,23.0,15.0
42131,2018-07-29 23:30:00,0.0,26.0780,23.0,30.0
42132,2018-07-29 23:45:00,0.0,25.9322,23.0,45.0

In [40]:
file_name2 = 'weatherfull.csv'
df2.to_csv(file_name2, sep='\t')

In [41]:
add_datepart(df2, 'TIMESTAMP')

/home/coolck/.local/lib/python3.6/site-packages/fastai/structured.py:112: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[targ_pre+n] = getattr(fld.dt,n.lower())
/home/coolck/.local/lib/python3.6/site-packages/fastai/structured.py:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[targ_pre+'Elapsed'] = fld.astype(np.int64) // 10**9
/home/coolck/.local/lib/python3.6/site-packages/fastai/structured.py:114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if drop: df.drop(fldname, axis=1, inplace=True)

In [42]:
df2.columns

Index(['Global_Horizontal_Irradiance_Tripod_Watt/m2',
       'Ambient_Temperature_Deg_C', 'HOUR', 'MINUTE', 'TIMESTAMPYear',
       'TIMESTAMPMonth', 'TIMESTAMPWeek', 'TIMESTAMPDay', 'TIMESTAMPDayofweek',
       'TIMESTAMPDayofyear', 'TIMESTAMPIs_month_end',
       'TIMESTAMPIs_month_start', 'TIMESTAMPIs_quarter_end',
       'TIMESTAMPIs_quarter_start', 'TIMESTAMPIs_year_end',
       'TIMESTAMPIs_year_start', 'TIMESTAMPElapsed'],
      dtype='object')

In [43]:
display_all(df2.head().transpose())

,0,1,2,3,4
Global_Horizontal_Irradiance_Tripod_Watt/m2,NaN,0.468,0.364,0,0
Ambient_Temperature_Deg_C,NaN,25.933,25.837,25.674,25.639
HOUR,NaN,0,0,0,0
MINUTE,NaN,0,15,30,45
TIMESTAMPYear,NaN,2017,2017,2017,2017
TIMESTAMPMonth,NaN,5,5,5,5
TIMESTAMPWeek,NaN,18,18,18,18
TIMESTAMPDay,NaN,1,1,1,1
TIMESTAMPDayofweek,NaN,0,0,0,0
TIMESTAMPDayofyear,NaN,121,121,121,121
TIMESTAMPIs_month_end,False,False,False,False,False
TIMESTAMPIs_month_start,False,True,True,True,True
TIMESTAMPIs_quarter_end,False,False,False,False,False
TIMESTAMPIs_quarter_start,False,False,False,False,False
TIMESTAMPIs_year_end,False,False,False,False,False
TIMESTAMPIs_year_start,False,False,False,False,False
TIMESTAMPElapsed,-9223372037,1493596800,1493597700,1493598600,1493599500

In [44]:
file_name3 = 'weatherfull_more_info.csv'
df2.to_csv(file_name3, sep='\t')

<h2>Create the classifier</h2>

<p>Backup df raw</p>

In [87]:
df_raw_backup = df_raw

In [88]:
os.makedirs('tmp', exist_ok=True)
df_raw_backup.to_feather('tmp/weatherBackup-raw')

In [89]:
#get X values:
X = df_raw.drop('Plane_of_Array_Irradiance_Tripod_Watt/m2', axis=1)
y = df_raw['Plane_of_Array_Irradiance_Tripod_Watt/m2']

In [90]:
m = RandomForestRegressor(n_jobs=-1)
m.fit(X, y)
#m.score(df2,y1)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [91]:
m.score(X,y)

0.9898529572808623